.wy-side-nav-search {
    background-color: #343131;
}
.wy-nav-content {
    max-width: 1200px !important;
}

.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-table-responsive {
    overflow: visible !important;
}