# VIM
*.swp
*~

# Autotools
aclocal.m4
config/
config.h
configure
libtool
Makefile
stamp-h1
*.in
*.log
*.cache
*.status
.deps/

# Results
*.[oa]
*.l[oa]
*.so
*.libs/
*.pyc
*.pyo
*.json
debian/control-*
!debian/control-*.in
python/setup.py

# Tests
*_TEST
*.trs

#eclipse
*.*project
.settings/*
.settings/org.eclipse*

# performance / coverages
*.gcno

# Data files
*.hdf5

# Distributions
eos-*/
eos-*.t*

# patch files
*.orig
*.rej
*.diff
*.patch

# Jupyter/iPython
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
