# VIM
*.swp
*~

# Autotools
aclocal.m4
config/
config.h
configure
libtool
Makefile
stamp-h1
*.in
*.log
*.cache
*.status
.deps/

# Results
*.[oa]
*.l[oa]
*.so
*.libs/
*.pyc
*.pyo

# Tests
*_TEST
*.trs

#eclipse
*.*project
.settings/*
.settings/org.eclipse*

# performance / coverages
*.gcno
