repos:
 - repo: https://github.com/pre-commit/mirrors-clang-format
   rev: v19.1.2
   hooks:
    - id: clang-format
      types_or: [ 'c++' ]
      exclude: ^(eos/b-decays/|eos/c-decays/|eos/form-factors/|eos/maths/|eos/meson-mixing/|eos/nonlocal-form-factors/|eos/rare-b-decays/|eos/scattering/|eos/statistics/)

 - repo: https://github.com/pre-commit/pre-commit-hooks
   rev: v4.4.0
   hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-added-large-files
      args: ['--maxkb=1024']
    - id: check-ast
    - id: check-docstring-first
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: forbid-submodules

 - repo: https://github.com/asottile/pyupgrade
   rev: v3.3.1
   hooks:
    - id: pyupgrade
      args: [--py39-plus]

 - repo: https://github.com/pre-commit/pygrep-hooks
   rev: v1.10.0
   hooks:
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal

 - repo: https://github.com/eos/pre-commit-hooks
   rev: v1.0.3
   hooks:
    - id: eos-test-check-argument-order
      exclude: '^test/test_TEST.cc$'
    - id: eos-test-ordereddict-usage
      exclude: '^src/scripts/eos-make-constraint'
