# custom Makefile
!Makefile

# Sphinx output
_build

# Doxygen output
doctrees
doxyoutput
html
log

# VIM files
.*.swp

# the following files are generated
reference/bibliography.rst
reference/constraints.rst
reference/observables.rst
reference/parameters.rst
reference/python.rst
reference/signal-pdfs.rst
user-guide/CKM-pi/*
installation.rst
