##################
List of Parameters
##################


The following is the full list of parameters and their values as used in EOS v{{ version }}.

{% for section in sections %}

{{ "*" * len(section.name) }}
{{ section.name }}
{{ "*" * len(section.name) }}

{% for group in section.groups %}
{{ group.name }}
{{ "=" * len(group.name) }}

.. list-table::
   :widths: 40, 20, 20, 20
   :header-rows: 1

   * - Qualified Name
     - Representation
     - Default Value
     - Unit

   {% for param in group.parameters %}
       .. _{{ param.link_key }}:
   * - ``{{ param.qualified_name }}``
     - {{ param.latex }}
     - {{ param.value }}
     - {{ param.unit }}

   {% endfor %}

{{ group.description }}

{% endfor %}
{% endfor %}
