##################
List of References
##################


The following is the full list of references that were used to implement theory codes and provide likelihood constraints
or parameter values within EOS v{{ version }}.

{% for handle, reference in references %}
.. [{{ handle }}] {{ reference.authors }}
   {%- if reference.title %} -- {{ reference.title }}{% endif %}
   {%- if reference.eprint %} -- `{{ reference.eprint }} <{{ reference.url }}>`_{% endif %}

{% endfor %}
