# ignore generated Jupyter notebooks
*.nbconvert.ipynb

# ignore generated data directories and other artifacts
analysis-organisation-base/
predictions-base/
inference-base/
figures/
inference.md
inference.pdf
simulation-base/

# ignore generated miscellaneous files
log
*.log
