# ignore generated Jupyter notebooks
*.nbconvert.ipynb

# ignore generated data directories and other artifacts
predictions-base/
inference-base/
inference.md
inference.pdf
simulation-data/

# ignore generated miscellaneous files
log
*.log
