###################
List of Observables
###################


The following is a list of observables that is available in EOS v{{ version }}.

{% for section in sections %}

{{ "*" * len(section.name) }}
{{ section.name }}
{{ "*" * len(section.name) }}

{% for group in section.groups %}
{{ group.name }}
{{ "=" * len(group.name) }}

{% for obs in group.observables %}
{% endfor %}
.. list-table::
   :widths: 50, 25, 25
   :header-rows: 1

   * - Qualified Name
     - Description
     - Kinematic Variables

   {% for obs in group.observables %}
       .. _{{ obs.link_key }}:
   * - ``{{ obs.qualified_name }}``
     {% if obs.description != '' %}
     - :math:`{{ obs.description }}`
     {% endif %}
     {% if obs.description == '' %}
     - n/a
     {% endif %}
     - {{ obs.kinematics }}

   {% endfor %}

{{ group.description }}

{% endfor %}
{% endfor %}
