{% macro autoclass(name, inherited) -%}
.. autoclass:: eos.{{ name }}
{% if inherited %}
   :inherited-members:
{% endif %}
   :members:
{%- endmacro %}
##########
Python API
##########

*************
Basic Classes
*************

EOS provides its basic functionality via the main ``eos`` module.

{% for name, inherited in api_basic_classes.items() %}

{{ autoclass(name, inherited) }}
{% endfor %}


**************
Common Classes
**************

EOS provides common classes for use in statistical analyses via the main ``eos`` module.

{% for name, inherited in api_common_classes.items() %}

{{ autoclass(name, inherited) }}
{% if name == 'Analysis' %}

   .. _eos-Analysis-prior-descriptions:

   Each prior description is a dictionary with the following mandatory elements:

   * **type** (*str*) -- The type specification of the prior. Must be one of ``uniform``, ``flat``, or ``gaussian``.
   * **parameter** (*str*) -- The name of the parameter for which the prior shall apply.
   * **min** (*float*) -- The lower boundary of the prior's support.
   * **max** (*float*) -- The upper boundary of the prior's support.

   A ``uniform`` or ``flat`` prior does not require any further description. A ``gaussian`` prior requires in addition
   providing the following two elements:

   * **central** (*float*) -- The median value of the parameter.
   * **sigma** (*float*, or *list*, *tuple* of *float*) -- The width of the 68% probability interval. If a list or tuple
     of two numbers is provided, the prior will by a asymmetric but continuous. The two values are then taken to be the
     distance to the lower and upper end of the 68% probability interval.
{% endif %}
{% endfor %}


.. _api_eos_tasks:

************
Common Tasks
************

In addition to the basic classes, EOS provides functions to carry out often-repeated tasks,
such as finding the mode of a posterior, sampling from a posterior, and similar.
Tasks require a description of the statistical analysis (see :class:`eos.Analysis`) by means
of an analysis file. For a documentation of its format, see :class:`eos.AnalysisFile`.

Tasks store their results in a hierarchy for directories below a user-provided base directory.
This ensures that tasks can readily use results produced by another task.

{% for task in task_names %}
.. autofunction:: eos.{{ task }}

{% endfor %}


**************
Accessing Data
**************

EOS provides access to save and load the various (intermediate) results of analyses via the ``eos.data`` module.


.. autoclass:: eos.data.ImportanceSamples
   :members:

.. autoclass:: eos.data.MarkovChain
   :members:

.. autoclass:: eos.data.MixtureDensity
   :members:

.. autoclass:: eos.data.Mode
   :members:

.. autoclass:: eos.data.PMCSampler
   :members:

.. autoclass:: eos.data.Prediction
   :members:


****************
Plotting Classes
****************

.. note::

   Import :py:mod:`eos.figure` before you do something like ``import matplotlib.pyplot as plt``,
   because the :py:mod:`eos.figure` module modified the default plot style and the matplotlib backend.
   All options (except the backend) can be overwritten by updating ``matplotlib.rcParams[...]``;
   see also the `matplotlib <https://matplotlib.org/>`_ documentation.
   Note that the default settings use LaTeX to create labels and math expressions,
   so for this to work latex needs to be available on your system.


EOS also provides a new plotting framework with a different interface, which will replace
the existing framework as soon as it is feature complete. Within the new framework, Figures
are created using the :py:class:`eos.figure.FigureFactory` class, which returns an object
of a class descended by :py:class:`eos.figure.Figure`. The figure is responsible for creating
and managing the `matplotlib <https://matplotlib.org/>`_ figure object. It also creates the
plot or plots that are contained in the figure as objects of classes descended from
:py:class:`eos.figure.plot.Plot`. These objects manage the axes of the figure and
the individual plot items that are contained in the plot. The actual contents are created using
the :py:class:`eos.figure.ItemFactory` class, which returns an object of a class descended from
:py:class:`eos.figure.items.Item`. The item is responsible for creating the actual
plot item, such as the curve of an EOS observable, a scatter plot of parameters, a histogram
or a kernel density estimate, to name some of the options.

A figure is rendered by its :py:meth:`draw <eos.figure.Figure.draw>` method, and the rendered figure
is stored to one or more output files by its :py:meth:`save <eos.figure.Figure.save>` method. A figure
must only be drawn once; drawing it repeatedly stacks its elements on top of each other, which distorts
the colors of elements with an opacity < 1.


`Figure` and Related Classes
============================


.. autoclass:: eos.figure.Figure
   :members:

   .. note::

      The :py:class:`eos.figure.plot.Plot` class is the base class for all plot items.
      It is not intended to be used directly. To create a a concrete plot, use the :class:`PlotFactory <eos.figure.PlotFactory>` class.


.. autoclass:: eos.figure.FigureFactory
   :members:

   The list of available figure types is as follows:


   .. list-table::
      :widths: auto
      :header-rows: 1

      * - figure type
        - Python class
        - description
      {% for key, class, description in figure_types %}
      * - ``{{ key }}``
        - :py:class:`eos.figure.{{ class }}`
        - {{ description }}
      {% endfor %}

{% for _, class, _ in figure_types %}
.. autoclass:: eos.figure.{{ class }}
   :members:

{% endfor %}


.. autoclass:: eos.figure.Inset
   :members:


`Plot` and Related Classes
==========================


.. autoclass:: eos.figure.Plot
   :members:

   .. note::

      The :py:class:`eos.figure.Plot` class is the base class for all plot items.
      It is not intended to be used directly. To create a a concrete plot, use the :class:`PlotFactory <eos.figure.PlotFactory>` class.


.. autoclass:: eos.figure.PlotFactory
   :members:


   The list of available plot types is as follows:

   .. list-table::
      :widths: auto
      :header-rows: 1

      * - plot type
        - Python class
        - description
      {% for key, class, description in plot_types %}
      * - ``{{ key }}``
        - :py:class:`eos.figure.{{ class }}`
        - {{ description }}
      {% endfor %}



{% for _, class, _ in plot_types %}
.. autoclass:: eos.figure.{{ class }}
   :members:

{% endfor %}


.. autoclass:: eos.figure.OverviewSource
   :members:

.. autoclass:: eos.figure.Grid
   :members:


.. autoclass:: eos.figure.Legend
   :members:


.. autoclass:: eos.figure.XAxis
   :members:


.. autoclass:: eos.figure.XTicks
   :members:


.. autoclass:: eos.figure.YAxis
   :members:


.. autoclass:: eos.figure.YTicks


`Item` and Related Classes
==========================


.. autoclass:: eos.figure.item.Item
   :members:

   .. note::

      The :py:class:`eos.figure.item.Item` class is the base class for all plot items.
      It is not intended to be used directly. To create a a concrete plot item, use the :class:`ItemFactory <eos.figure.ItemFactory>` class.


.. autoclass:: eos.figure.item.ItemFactory
   :members:

   The list of available item types is as follows:


   .. list-table::
      :widths: auto
      :header-rows: 1

      * - item type
        - Python class
        - description
      {% for key, class, description in item_types %}
      * - ``{{ key }}``
        - :py:class:`{{ class }}`
        - {{ description }}
      {% endfor %}


{% for _, class, _ in item_types %}
.. autoclass:: eos.figure.item.{{ class }}
   :members:

{% endfor %}


Utility Classes
===============


.. autoclass:: eos.figure.DataFile
   :members:


.. autoclass:: eos.figure.Watermark
   :members:


.. _analysis-file-classes:

Analysis File Description Classes
=================================


The classes in the :py:mod:`eos.analysis_file_description` module describe the individual elements of an
:doc:`analysis file <analysis-file-format>`. Each class corresponds to a key, or a type of entry, of the
analysis file format; its fields correspond to the keys of the respective YAML object.


The metadata of an analysis is described by:

.. autoclass:: eos.analysis_file_description.MetadataDescription
   :members:

.. autoclass:: eos.analysis_file_description.MetadataAuthorDescription
   :members:


A named prior, and the prior densities it comprises, are described by:

.. autoclass:: eos.analysis_file_description.PriorComponent
   :members:

.. autoclass:: eos.analysis_file_description.ConstraintPriorDescription
   :members:

.. autoclass:: eos.analysis_file_description.UniformPriorDescription
   :members:

.. autoclass:: eos.analysis_file_description.ScalePriorDescription
   :members:

.. autoclass:: eos.analysis_file_description.GaussianPriorDescription
   :members:

.. autoclass:: eos.analysis_file_description.CurtailedGaussianDescription
   :members:

.. autoclass:: eos.analysis_file_description.PoissonPriorDescription
   :members:

.. autoclass:: eos.analysis_file_description.TransformPriorDescription
   :members:


A named likelihood, and the constraints it comprises, are described by:

.. autoclass:: eos.analysis_file_description.LikelihoodComponent
   :members:

.. autoclass:: eos.analysis_file_description.ConstraintLikelihoodDescription
   :members:

.. autoclass:: eos.analysis_file_description.ManualConstraintDescription
   :members:

.. autoclass:: eos.analysis_file_description.PyHFConstraintDescription
   :members:


A named posterior is described by:

.. autoclass:: eos.analysis_file_description.PosteriorDescription
   :members:


A custom observable is described by:

.. autoclass:: eos.analysis_file_description.ObservableComponent
   :members:


A custom parameter is described by:

.. autoclass:: eos.analysis_file_description.ParameterComponent
   :members:


A prediction, and the observables it comprises, are described by:

.. autoclass:: eos.analysis_file_description.PredictionDescription
   :members:

.. autoclass:: eos.analysis_file_description.PredictionObservableComponent
   :members:


A step, and the tasks it comprises, are described by:

.. autoclass:: eos.analysis_file_description.StepComponent
   :members:

.. autoclass:: eos.analysis_file_description.TaskComponent
   :members:


A named mask, and the entries it comprises, are described by:

.. autoclass:: eos.analysis_file_description.MaskComponent
   :members:

.. autoclass:: eos.analysis_file_description.MaskObservableComponent
   :members:

.. autoclass:: eos.analysis_file_description.MaskExpressionComponent
   :members:

.. autoclass:: eos.analysis_file_description.MaskNamedComponent
   :members:
